In [1]:
# TypeCasting >> The process of changing the data type of  a value / object
# why? while executing / computation using operators, there can be mismatch between the data type.

a = 7
type(a)

int

In [3]:
b = "Priya"
type(b)

str

In [ ]:
3+5

8

In [6]:
a = "2"
b = 3
(a+b)

TypeError: can only concatenate str (not "int") to str

In [8]:
#String to integer
a = "2"
b = 3
print (type(a))
print (type(int(a)))
int(a) + b

<class 'str'>
<class 'int'>

5

In [9]:
# float to integer
a = 4.3
int(a)

4

In [10]:
# integer to float
b = 8 
float(b)

8.0

In [11]:
#String to float
c = "5.4"
float(c)

5.4

In [13]:
#Character cannot be converted into numbers
d = "Ajay"
int(d)

ValueError: invalid literal for int() with base 10: 'Ajay'

In [14]:
#Integer to String
e = 6
str(e)

'6'

In [ ]:
#TypeCasting is of two types >> explicit and implicit

#Implicit typecasting >> python understands the data type
 
a = 5
type(a)

int

In [16]:
2 + 3.4

5.4

In [19]:
#Explicit typecasting >> Convert data type using in built function >> str, int, float, bool

a = "2"
print (type(a))
int(a)

<class 'str'>

2

In [21]:
a = "Ajay"
b = 5
a + b

TypeError: can only concatenate str (not "int") to str

In [23]:
# Concatenation >> combining strings

a = "Ajay"
b = " Kumar Gupta"
a+b

'Ajay Kumar Gupta'

In [24]:
#TypeCasting into bool

bool(0)

False

In [25]:
bool(100)

True

In [26]:
bool(-8)

True

In [ ]:
bool("")   #Empty String

False